.gitattributes text eol=lf
* text=auto
*.sh text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tex text eol=lf
*.png binary
*.pdf binary
*.gz binary
*.zip binary
*.cff text eol=lf
